h1{
    color: blue;
    /* text-align: center; */
}
.nadim{
    color: darkgreen;
}
#nafiz{
    color:white;
    background-color: blue;
}
.sad{
    color: black;
}
div a{
    background-color: darkmagenta;
    color: white;
}
div p{
    color: orange;
}
